.boxHelper {
	color: #fff;
	background-color: #000;
	text-align: center;
}

.hidden {
	display: none;
}

body {
	background: url(../images/memphis-colorful.png);
}

/*Fonts*/
h1 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	line-height: 1em;
	color: #175878;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 2.2em;
	line-height: 1em;
	color: #000;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	line-height: 1.4em;
	color: #000;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	line-height: 1em;
	color: #000;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #000;
}

.chicoButtons {
	background-color: #F5BE4F;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #fff;
	padding: 10px 20px;
	transition: .3s;
	text-decoration-color: #fff;
}

.chicoButtons:hover {
	background-color: #c68a10;
	color: #fff;
}

.chicoButtons:visited {
	text-decoration: none;
}

.chicoButtons:active {
	text-decoration: none;
}

#container {
	margin: 0 auto;
	background-color: #fff;
}


/*Header*/
#mainHeader {
	padding: 40px 20px 0px 20px;
	background-color: #fff;
	margin-top: 60px;
}

#mainHeader ul {
	list-style: none;
	text-align: center;
	justify-content: center;
}

#mainHeader ul li {
	display: inline-block;
}

#mainHeader ul li a {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	color: #000; 
	background-color: #fff;
}

#mainHeader ul li a:hover {
	border-bottom: 2px solid #ef4352;
}

.activePage {
	border-bottom: 2px solid #ef4352;
}

#logoImg {
	width: 55px;
	margin-left: 10px;
}

#subNav {
	margin: 0px;
	background-color: #175878;
	width: 100%;
	padding-top: 10px;
	position: fixed;
	top: 0;
	z-index: 2;
}

#subNav ul {
	list-style: none;
	text-align: center;
	justify-content: center;

}

#subNav ul li{
	margin-left: 9px;
	margin-right: 9px;
	display: inline;
	font-size: .8em;
}

#subNav ul li:nth-child(1) a {
	color: #fff;
	background-color: #175878;
}

#subNav ul li:nth-child(2) a {
	color: #00b2c0;
	background-color: #175878;
}

#subNav ul li:nth-child(3) a {
	color: #EF4352;
	background-color: #175878;
}

#subNav ul li:nth-child(4) a {
	color: #2BB892;
	background-color: #175878;
}

#subNav ul li:nth-child(5) a {
	color: #F5BE4F;
	background-color: #175878;
}

#subNav ul li a:hover {
	border-bottom: 2px solid #fff;
}


/*HOME PAGE*/
/*Hero Images*/
#heroSection {
	padding: 20px 0px 20px 0px;
	background-color: #fff;
}


/*Meet Chico Section*/
#meetChico {
	background-color: #00b2c0;
	padding: 60px 30px;
	position: relative;
	z-index: 1;
}

#meetChico h2 {
	color: #fff;
	font-size: 2.6em;
	margin-bottom: 15px;
}

#meetChico h3 {
	color: #fff;
	margin-bottom: 30px;
}

#meetChico p {
	color: #fff;
}

#meetChicoText {
	margin-bottom: 40px;
}

#meetChicoPrints {
	width: 400px;
	right: 0%;
	position: absolute;
	opacity: 0.6;
	z-index: -1
}


/*Our Book Has Section*/
#ourBook {
	background-color: #fff;
	padding: 60px 30px;

}

#ourBook h2 {
	text-align: center;
	padding-bottom: 10px;
	/*text-decoration: underline #ef4352;*/
	margin-bottom: 30px;
	border-bottom: solid 5px #ef4352;
}

#ourBook img {
	margin-bottom: 20px;
}

#ourBook h3 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.6em;
}

#ourBook p {
	text-align: center;
	font-size: 1em;
}

#educatedTitle {
	color: #175878; /*dark blue*/
}

#supportedTitle {
	color: #EF4352; /*pink*/
}

#encouragedTitle {
	color: #F5BE4F; /*yellow*/
}

#relievedTitle {
	color: #07B6C3; /*light blue*/
}


/*Creators Section*/
#creators
{
	background-color: #2BB892; /*green*/
	padding: 60px 30px;
}

#creators h2 {
	text-align: center;
	padding-bottom: 10px;
	/*text-decoration: underline #175878;*/
	margin-bottom: 30px;
	border-bottom: solid 5px #175878;
}

#creators img {
	margin-bottom: 20px;
}

#creators h3 {
	color: #fff;
}

#creators h4 {
	color: #175878;
}

#authorText {
	text-align: center;
	margin-bottom: 40px;
}

#authorText p {
	text-align: justify;
}

#illustratorText {
	text-align: center;
	margin-bottom: 40px;
}

#illustratorText p {
	text-align: justify;
}

#authorImg {
	text-align: center;
}

#illustratorImg {
	text-align: center;
}

#creatorQuote p {
	text-align: center;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	line-height: 1.4em;
}


/*ORDER PAGE*/
/*Hero Image*/
#orderHero {
	position: relative;
	background-color: #fff;
	margin-bottom: 20px;
	/*width: 100%;
	float: left;
	margin: 0;*/
}

#orderHeroImg {
	text-align: center;
	/*added to fix gaps*/
	margin: auto;
	width: 100%;
	padding: 0;
}

#heroText {
	position: absolute;
	text-align: center;
	color: #F5BE4F;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	/*added to fix gaps*/
	width: 100%;
	float: left;
	margin: 0;
}


/*Order Section*/
#orderSection {
	background-color: #fff;
	padding: 60px 30px; /*trbl*/
	margin-top: -20px;
}

#orderText h2 {
	color: #175878;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: solid 5px #F5BE4F;
	padding-bottom: 10px;
}

#orderText p {
	margin-bottom: 10px;
}

#orderTextInfo {
	margin-bottom: 30px;
}

#orderImg {
	margin-top: 30px;
	text-align: center;
}

#orderButtons {
	text-align: center;
	text-decoration: none;
}

#orderButtons a:hover {
	background-color: #cc0415;
	color: #fff;
}

#orderButtons a {
	background-color: #EF4352
}

#orderText a {
	margin-left: 5px;
	margin-right: 5px;
}

.chicoButtons {
	font-size: 20px;
}


/*Testimonial Section*/
.testimonial {
	padding: 60px 30px;
	margin-top: 20px;
	text-align: center;
}

.testimonial img {
	width: 8%;
}

.testText {
	margin-top: 30px;
	margin-bottom: 30px;
}

.testText p {
	color: #fff;
	font-size: 1.4em;
	padding-bottom: 20px;
	border-bottom: solid 2px #175878;
}

.testText h4 {
	color: #fff;
	margin-bottom: 40px;
}

#testCarousel {
	background-color: #2BB892;
	/*added to fix gaps*/
	width: 100%;
	float: left;
	margin: 0;
}

#test1 {
	background-color: #2BB892;
}

#test2 {
	background-color: #EF4352;
}

#test3 {
	background-color: #F5BE4F;
}

#pawNavList {
	display: inline;
	list-style-type: none;
}

#pawNavList li {
	display: inline;
	list-style-type: none;
}

#pawNavList img {
	cursor: pointer;
	padding-bottom: 10px;
}

#pawNavList img:hover {
	border-bottom: 3px #175878 solid;
}

.pawPrintNav img {
	margin-left: 10px;
	margin-right: 10px;
}


/*Contact Us Section*/
#contact {
	background-color: #fff;
	padding: 60px 30px;
}

#contactLogo {
	display: block;
	margin-bottom: 40px;
	margin-top: -20px;
}

#contactForm h2 {
	text-align: center;
	/*text-decoration: underline #F5BE4F;*/
	margin-bottom: 10px;
	border-bottom: solid 5px #F5BE4F;
	padding-bottom: 10px;
}

#contactForm p {
	text-align: left;
	margin-bottom: 20px;
}

#contactForm label {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	color: #00b2c0;
	margin-bottom: 5px;
}

.contactInput {
	background-color: #00b2c0;
}

.contactInput::placeholder { 
	color: #fff;
}

#contactForm textarea {
	margin-bottom: 30px;
}

#contactButton {
	float: right;
}

#socialMedia {
	margin: 40px 0px -20px 10px; /*trbl*/
	text-align: center;
}

#socialMedia img {
	margin-right: 10px;
	margin-left: 10px;
	width: 18%;
}


/*Footer Section*/
#footer
{
	background-color: #EF4352; /*pink*/
	padding: 20px 20px 4px 20px; /*trbl*/
}

#footer p {
	font-size: .8em;
	color: #fff;
	line-height: .9em;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #F5BE4F;
}

#footerText1 {
	float: left;
}

#footerText2 {
	float: left;
	text-align: left;
}




/*Medium Size*/
@media screen and (min-width: 40em) {
	#meetChico {
		padding: 60px 80px;
	}

	#meetChicoPrints {
		width: 400px;
		right: 2%;
	}

	#authorText {
		text-align: right;
	}
	#illustratorText {
		text-align: left;
	}
	#authorImg {
		text-align: left;
	}

	#illustratorImg {
		text-align: right;
	}
	#socialMedia img {
		width: 100px;
	}

	#footerText2 {
		float: right;
		text-align: right;
	}

	#subNav ul li{
		font-size: 1em;
		margin-left: 15px;
		margin-right: 15px;
	}

	#orderText h2 {
		text-align: left;
	}

	#orderImg {
		margin-top: 0px;
	}
	#orderButtons {
		text-align: left;
	}
	#orderButtons a {
		margin-right: 5px;
		margin-left: 0px;
	}

	.testimonial {
		padding: 60px 60px;	
	}
}


/*Large Size*/
@media screen and (min-width: 64em) {
	#container {
		width: 70%;
	} 

	#meetChicoPrints {
		width: 400px;
	}

	#ourBook {
		padding: 60px 60px;
	}

	#creators {
		padding: 60px 60px;
	}

	#socialMedia img {
		margin-left: 20px;
		margin-right: 20px;
	}

	#orderText a {
		margin-right: 15px;
	}
	#orderButtons a {
		margin-right: 15px;
		margin-left: 0px;
	}

	#subNav ul li{
		font-size: 1em;
		margin-left: 25px;
		margin-right: 25px;
	}
}