.boxHelper {
	color: #fff;
	background-color: #000;
	text-align: center;
}

.hidden {
	display: none;
}

/*Fonts*/
h1 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	line-height: 1em;
	color: #175878;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 2.2em;
	line-height: 1em;
	color: #000;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	line-height: 1.4em;
	color: #000;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	line-height: 1em;
	color: #000;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #000;
}

.chicoButtons {
	background-color: #F5BE4F;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #fff;
	padding: 10px 20px;
}

.chicoButtons a:hover {
	background-color: #fff;
}

#container {
	margin: 0 auto;
	background-color: #ECECEC;
}


/*Header*/
#mainHeader {
	padding: 20px;
	background-color: #fff;
	margin-top: 10px;
	
}

#mainHeader ul {
	list-style: none;
	text-align: center;
	justify-content: center;
}

#mainHeader ul li {
	display: inline-block;
}

#mainHeader ul li a {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	color: #000; 
	background-color: #fff;
}

#mainHeader ul li a:hover {
	border-bottom: 2px solid #ef4352;
}

#logoImg {
	width: 55px;
	margin-left: 10px;
}

#subNav {
	margin-top: 20px;
	background-color: #fff;
}

#subNav ul {
	list-style: none;
	text-align: center;
	justify-content: center;
}

#subNav ul li{
	margin-left: 25px;
	margin-right: 25px;
	display: inline;
	
}

#subNav1 a{
	color: #00b2c0;
}

/*HOME PAGE*/
/*Hero Images*/
#heroSection {
	padding: 20px 0px;
	background-color: #fff;
}

/*Meet Chico Section*/
#meetChico {
	background-color: #00b2c0;
	padding: 40px 30px;
	position: relative;
	z-index: 1;
}

#meetChico h2 {
	color: #fff;
	font-size: 2.6em;
	margin-bottom: 15px;
}

#meetChico h3 {
	color: #fff;
	margin-bottom: 30px;
}

#meetChico p {
	color: #fff;
}

#meetChicoText {
	margin-bottom: 40px;
}


#meetChicoPrints {
	width: 400px;
	right: 0%;
	position: absolute;
	opacity: 0.6;
	z-index: -1
}


/*Our Book Has Section*/
#ourBook {
	background-color: #fff;
	padding: 40px 30px;

}

#ourBook h2 {
	text-align: center;
	padding-bottom: 10px;
	text-decoration: underline #ef4352;
	margin-bottom: 30px;
}

#ourBook img {
	margin-bottom: 20px;
}

#ourBook h3 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.6em;
}

#ourBook p {
	text-align: center;
	font-size: 1em;
}

#educatedTitle {
	color: #175878; /*dark blue*/
}

#supportedTitle {
	color: #EF4352; /*pink*/
}

#encouragedTitle {
	color: #F5BE4F; /*yellow*/
}

#relievedTitle {
	color: #07B6C3; /*light blue*/
}


/*Creators Section*/
#creators
{
	background-color: #2BB892; /*green*/
	padding: 40px 30px;
}

#creators h2 {
	text-align: center;
	padding-bottom: 10px;
	text-decoration: underline #175878;
	margin-bottom: 30px;
}

#creators img {
	margin-bottom: 20px;
}

#creators h3 {
	color: #fff;
}

#creators h4 {
	color: #175878;
}

#authorText {
	text-align: center;
}

#illustratorText {
	text-align: center;
}

#creators p {
	margin-bottom: 40px;
}

#creatorQuote {
	margin-top: 30px, 20px, 70px;
	text-align: center;
}

/*Contact Us Section*/
#contact {
	background-color: #fff;
	padding: 40px 30px;
}

#contactLogo {
	margin-bottom: 30px;
}

#contactForm h2 {
	text-align: center;
	text-decoration: underline #F5BE4F;
	margin-bottom: 20px;
}

#contactForm p {
	text-align: center;
	margin-bottom: 20px;
}

#contactForm label {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	color: #00b2c0;
	margin-bottom: 5px;
}

.contactInput {
	background-color: #00b2c0;
}

.contactInput::placeholder { 
	color: #fff;
}

#contactForm textarea {
	margin-bottom: 30px;
}

#contactButton {
	float: right;
}

#socialMedia {
	margin: 40px 0px;
	text-align: center;
}

#socialMedia img {
	margin-right: 10px;
	margin-left: 10px;
	width: 18%;
}

/*Footer Section*/
#footer
{
	background-color: #EF4352; /*pink*/
	padding: 30px 30px;
}

#footer p {
	font-size: .8em;
	color: #fff;
	line-height: .9em;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #F5BE4F;
}

#footerText1 {
	float: left;
}

#footerText2 {
	float: left;
	text-align: left;
}






/*Medium Size*/
@media screen and (min-width: 40em) {
	#meetChico {
		padding: 60px 80px;
	}

	#meetChicoPrints {
		width: 400px;
		right: 2%;
	}

	#authorText {
		text-align: right;
	}
	#illustratorText {
		text-align: left;
	}
	#illustratorImg {
		float: right;
	}
	#socialMedia img {
		width: 100px;
	}

	#footerText2 {
		float: right;
		text-align: right;
	}

}

/*Large Size*/
@media screen and (min-width: 64em) {
	#container {
		width: 70%;
	} 

	#meetChicoPrints {
		width: 400px;
	}

	#ourBook {
		padding: 40px 60px;
	}

	#creators {
		padding: 40px 60px;
	}

	#socialMedia img {
		margin-left: 20px;
		margin-right: 20px;
	}
}